<div class="dialog-window__dialog">
    
    <div>
        <div class="dialog-window__message dialog-window__message_me">
            <div class="dialog-window__text">
                Hello
            </div>
            <div class="dialog-window__time">
                12:30
            </div>
        </div>
    </div>
    <div>
        <div class="dialog-window__message dialog-window__message_other">
            <div class="dialog-window__text">
                Hello
            </div>
            <div class="dialog-window__time">
                12:30
            </div>
        </div>
    </div>
</div>
<div class="dialog-window__input-message">
    <input class="dialog-window__input" id="message" type="text">
    <img src="/pics/send.png" class="dialog-window__send-img" id="send">
</div>