<div class="dialog-window__user">
    {{#if user.image_paths}}
        <img src="{{{user.image_paths.[0]}}}" class="header__photo-avatar" alt=""/>
    {{else}}
        <img src="/pics/avatar.png" class="header__photo-avatar" alt=""/>
    {{/if}}
    <span class="dialog-window__name">{{user.name}}</span> 
</div>
<div class="dialog-window__dialog">
    
</div>
<div class="dialog-window__input-message">
    <input class="dialog-window__input" id="message" type="text">
    <img src="/pics/send.png" class="dialog-window__send-img" id="send">
</div>