@import "/public/lib/constants";

.messenger {
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);

  &__user-form{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: calc(100vh - var(--header-height) - 20px);
    overflow: auto;
    margin: 10px;
    border-radius: 30px;
    box-shadow: $shadow;

    @media(max-width: 660px){
      display: none;
    }
  }

  &__dialogs {
    background-color: var(--dialog-grey);
    width: var(--dialogs-width);
    min-width: 35px;
    @media (max-width: $phone-max-width) {
      width: min-content;
    }
  }

  &__dialog-list {
    overflow: auto;
    height: calc(100vh - var(--header-height) - var(--dialog-name-height));
    @media (max-width: $phone-max-width) {
      width: min-content;
    }
  }

  &__button {
    background-color: var(--dialog-grey);
    @media (max-width: $phone-max-width) {
      width: 70px;
      font-size: 14px;
      padding: 0px;
    }
  }

  &__empty-dialog {
    font-size: 16px;
    color: white;
    padding: 2%;
  }

  &__switch{
    @media (max-width: $phone-max-width) {
      display: none;
    }
  }
}

.dialog-preview {
  height: 100px;
  display: flex;
  border-bottom: 1px solid var(--dark-blue-color);
  @media (max-width:650px) {
    height: calc(14.2vw + 7px);
  }

  &__new-message {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 100px;
  }

  &__photo {
    height: 85px;
    width: 85px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    padding: 8px;
    @media (max-width:650px) {
      height: calc(14.2vw - 7.85px);
      width: calc(14.2vw - 7.85px);
    }
  }

  &__photo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__dialog-name {
    color: white;
    overflow: hidden;
    @media (max-width:$phone-max-width) {
      font-size: 14px;
      display: none;
    }
  }

  &__preview-message {
    font-size: 12px;
    overflow: hidden;
  }
}

.dialog-window {
  width: 100%;
  background-image: url("../../../static/pics/background.jpg");
  @media (max-width:$phone-max-width) {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  
  margin: 10px;
  margin-right: 0;
  box-shadow: $shadow;
  border-radius: 30px;

  &__dialog {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;

    @media (max-width:$phone-max-width) {
      height: calc(100vh - var(--header-height) 
      - var(--dialog-name-height) 
      - var(--dialog-input-height) 
      - 40px);
    }

    height: calc(100vh - var(--header-height) 
                       - var(--dialog-name-height) 
                       - var(--dialog-input-height) 
                       - 60px);
  }

  &__message {
    background-color: white;
    border-radius: 8px;
    max-width: 400px;
    padding: 3px;
    margin: 3px 0px;
    width: fit-content;

    &_me {
      margin-left: auto;
    }
    @media (max-width:500px) {
      max-width: 250px;
    }
  }

  &__text {
    font-size: 16px;
    margin: 3px;
    word-wrap: break-word;
    overflow: hidden;
  }

  &__time {
    font-size: 12px;
  }

  &__input-message {
    display: flex;
    background-color: white;
    margin: 5px 20px;
    border-radius: 20px;
  }

  &__send-img {
    width: var(--dialog-input-height);
    background-color: white;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
  }

  &__unread {
    background-color: gray;
    text-align: center;
  }

  &__name {
    font-size: 30px;
    height: var(--dialog-name-height);
  }

  &__user{
    padding: 5px;
  }
}
