<div class="name">
    {{name}}
</div>
<div class="dialog-window__dialog">
    
</div>
<div class="dialog-window__input-message">
    <input class="dialog-window__input" id="message" type="text">
    <img src="/pics/send.png" class="dialog-window__send-img" id="send">
</div>