<div id="messenger" class="messenger">
    <div class="dialog-window" id="dialog-window">

    </div>
    <div class="messenger__user-form">
        <img class="messenger__cross" src="/pics/cross.png" id="cross">
    </div>
</div>