<div class="premium">
    <div class="premium__name">С подпиской 
        <span class="premium__name_pink">premium</span>
    </div>
    <div class="premium__benefits">
        <div class="premium__benefit">
            <img class="premium__get-img" src="/pics/heart-like.png">
            <span class="premium__get-text">Нет ограничения на лайки</span>
        </div>
        <div class="premium__benefit">
            <img class="premium__get-img" src="/pics/heart-like.png">
            <span class="premium__get-text">Возможность просматривать тех кто вас лайкнул</span>
        </div>
    </div>
    {{#if premium}}
        <div class="premium__get-now">Премиум активен</div>
    {{else}}
        <div class="premium__get-now">Получите сейчас бесплатно</div>
        <div class="premium__conditions">
            Поделитесь ссылкой с 5 незарегистрированными друзьями, 
            как только они заполнят свой профиль вы получите премиум подписку
        </div>
    {{/if}}

    <div class="premium__get-link">
        <span class="premium__link">
            {{share_link}}
        </span>
    </div>
    <div class="premium__conditions">
        {{#if invites_count}}
            Уже приглашено {{invites_count}} друзей
        {{else}}
            Пока что вы никого не пригласили
        {{/if}}
    </div>
</div>