<form class="auth">
    <span class="text-center">регистрация</span>
    <div class="input-container">
        <input type="text" id="mail" required=""/>
        <label>Имя</label>
    </div>
    <div class="input-container">
        <input type="text" id="name" required=""/>
        <label>Логин</label>
    </div>
    <div class="input-container">
        <input type="password" id="password" required=""/>
        <label>Пароль</label>
    </div>
    <div class="input-container">
        <input type="password" id="password-repeat" required=""/>
        <label>Повторите пароль</label>
    </div>
    <div class="error-label">1</div>s
    <button type="submit" class="sign-btn">зарегестрироваться</button>
</form>