<div class="background-holder">
  <div class="naming naming_in-bottom">Встречай новых людей, создавай новые истории! 
    <div class="naming_small">
      Зарегистрируйтесь чтобы начать знакомиться прямо сейчас
    </div>
  </div>
  <form class="auth" autocomplete="off">
        <span class="auth__header">регистрация</span>
        <div class="input">
            <input type="text" class="input__input" id="mail" required=""/>
            <label class="input__label">Почта</label>
        </div>
        <div class="input">
            <input type="text" class="input__input" id="name" required=""/>
            <label class="input__label">Имя</label>
        </div>
        <div class="input">
            <input type="password" class="input__input" id="password" required="" autocomplete="new-password"/>
            <img src="/pics/eye_closed.png" id="eye" class="input__show-password">
            <label class="input__label">Пароль</label>
        </div>
        <div class="input">
            <input type="password" class="input__input" id="password-repeat" required=""/>
            <label class="input__label">Повторите пароль</label>
        </div>
        <div class="auth__social-media" id="vk">
            <img class="auth__vk-img" src="/pics/VK_logo.png">
            Зарегистрироваться через vk
        </div>
        <div class="error-label">1</div>
        <div class="auth__subtitle">
            Есть аккаунт?
            <a href="/auth" class="link link_blue">Войдите</a>
        </div>
        <button type="submit" class="btn btn_important">найти пару</button>
    </form>
</div>
