<form class="auth" autocomplete="off">
    <span class="auth__header">регистрация</span>
    <div class="input-header-goes-up">
        <input type="email" class="input-header-goes-up__input" id="mail" required=""/>
        <label class="input-header-goes-up__label">Почта</label>
    </div>
    <div class="input-header-goes-up">
        <input type="text" class="input-header-goes-up__input" id="name" required=""/>
        <label class="input-header-goes-up__label">Имя</label>
    </div>
    <div class="input-header-goes-up">
        <input type="password" class="input-header-goes-up__input" id="password" required=""/>
        <label class="input-header-goes-up__label">Пароль</label>
    </div>
    <div class="input-header-goes-up">
        <input type="password" class="input-header-goes-up__input" id="password-repeat" required=""/>
        <label class="input-header-goes-up__label">Повторите пароль</label>
    </div>
    <div class="error-label">1</div>
    <div class="auth__subtitle">
        Есть аккаунт?
        <a href="/auth">Войдите</a>
    </div>
    <button type="submit" class="auth__sign-btn btn">зарегестрироваться</button>
</form>
