<form class="auth" autocomplete="off">
    <span class="text-center">регистрация</span>
    <div class="input-container">
        <input type="email" id="mail" required=""/>
        <label>Почта</label>
    </div>
    <div class="input-container">
        <input type="text" id="name" required=""/>
        <label>Имя</label>
    </div>
    <div class="input-container">
        <input type="password" id="password" required=""/>
        <label>Пароль</label>
    </div>
    <div class="input-container">
        <input type="password" id="password-repeat" required=""/>
        <label>Повторите пароль</label>
    </div>
    <div class="error-label">1</div>
    <button type="submit" class="sign-btn">зарегестрироваться</button>
</form>
