@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat';
  min-height: 100%;
  background-color: var(--background-color);
}

/* Определение глобальных переменных для цветов */
:root {
  --auth-text-color: #ffffff;
  --link-text-color: #4460ff;
  --input-focus-color: #eb2344;
  --lending-text-color: #685206;
  --background-color: #e9cdcc;
  --dark-blue-color: #303656;
  --dialog-grey: #76798b;
  --header-height: 65px;
  --dialogs-width: 350px;
  --dialog-name-height: 44px;
  --dialog-input-height: 35px;

  --xs-screen-size: 320px;
  --s-screen-size: 480px;
  --m-screen-size: 768px;
  --l-screen-size: 900px;
  --xl-screen-size: 1200px;
}

.btn {
  outline: none;
  border: 0;
  font-family: 'Montserrat';
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: white;

  @media (max-width: 320px) {
    padding: 5px 15px;
    font-size: 12px;
  }

  @media (max-width: 320px) {
    padding: 5px 15px;
    font-size: 14px;
  }

  @media (max-width: 480px) {
    padding: 10px 15px;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    padding: 10px 15px;
    font-size: 18px;
  }

  @media (max-width: 900px) {
    padding: 10px 15px;
    font-size: 18px;
  }

  &:active{
    box-shadow: 2px 2px 8px #fff4f4c9;
  }

  &_important {
    color: var(--auth-text-color);
    background-color: var(--input-focus-color);
    &:active{
      box-shadow: 2px 2px 8px #eb2344b9;
    }
  }
}

.error-label {
  font-size: 0.8rem;
  color: var(--input-focus-color);
}

.link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;

  &_blue {
    color: var(--link-text-color);
  }
}

.input {
  position: relative;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  @media (max-width:600px) {
    margin-bottom: 20px;
  }

  &__show-password{
    cursor: pointer;
    background-image: url(../static/pics/eye.png);
    width: 20px;
    position: absolute;
    left: 90%;
    top: 2%;
    @media (max-width:400px) {
      width: 15px;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: var(--auth-text-color);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    @media (max-width:600px) {
      font-size: 14px;
    }
    @media (max-width:400px) {
      font-size: 12px;
    }
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: var(--auth-text-color);

    &:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--input-focus-color);
    }

    &:focus ~ .input__label,
    &:valid ~ .input__label {
      top: -12px;
      font-size: 12px;
    }
  }
}

.root {
  min-height: 100vh;
  display: flex;
  font: 1.2rem "Montserrat";
  flex-direction: column;
}

.main-part {
  min-height: calc(100vh - var(--header-height));
}

.loading {
  align-self: center;
  justify-self: center;
  position: absolute;

  &__spinner {
    animation: rotate-loading 2s linear infinite;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }

  &__path {
    stroke: black;
    stroke-linecap: round;
    animation: dash-loading 1.5s ease-in-out infinite;
  }
}

@keyframes rotate-loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash-loading {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.arrow_icon {
  width: 26px;
  height: 26px;
  color: gray;
  cursor: pointer;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

