<div class="csat">
  <div class="csat__help-us">
    {{text}}
  </div>
  <div class="csat__checkboxes">
    <label class="csat__checkbox-container">
        <input id="design" type="checkbox">
        Дизайн
        <span class="csat__checkbox-checkmark"></span>
    </label>
    <label class="csat__checkbox-container">
        <input id="quality" type="checkbox">
        Качество подбора собеседников
        <span class="csat__checkbox-checkmark"></span>
    </label>
    <label class="csat__checkbox-container">
        <input id="convinient" type="checkbox">
        Удобство пользования
        <span class="csat__checkbox-checkmark"></span>
    </label>
  </div>
  <div class="csat__buttons">
    <button type="button" id="take-survey" class="btn btn_important">Далее</button>
    <span class="csat__skip">Пропустить</span>
  </div>
</div>