<div class="csat">
    <img src="/pics/cross.png" class="csat__cross" id="cross">
  <div class="csat__greetings">
    Спасибо за обратную связь!
  </div>
  <div class="csat__help-us">
    Мы обязательно учтем все ваши рекомендации в будущих обновлениях 
  </div>
</div>