<div class="csat">
  <div class="csat__greetings">
    Мы хотим становиться лучше для вас
  </div>
  <div class="csat__help-us">
    Оцените общий опыт пользования нашим сайтом
  </div>
  <div class="csat__slidecontainer">
    <input type="range" min="1" max="10" value="5" class="csat__slider" id="myRange">
  </div>
  <div class="csat__buttons">
    <button type="button" id="take-survey" class="btn btn_important">Ответить</button>
    <span class="csat__skip">Пропустить вопрос</span>
  </div>
</div>