<div class="csat">
  <img src="/pics/cross.png" class="csat__cross" id="cross">
  <div class="csat__greetings">
    Мы хотим становиться лучше для вас
  </div>
  <div class="csat__help-us">
    {{text}}
  </div>
  <div class="csat__slidecontainer">
    <input type="range" min="1" max="10" value="5" class="csat__slider" id="rating">
  </div>
  <div class="csat__buttons">
    <button type="button" id="take-survey" class="btn btn_important">Ответить</button>
    <span class="csat__skip" id="skip">Пропустить вопрос</span>
  </div>
</div>