<div class="csat">
    <img src="/pics/cross.png" class="csat__cross" id="cross">
  <div class="csat__help-us">
    Может есть конкретные рекомендации по улучшению {{text}}?
  </div>
  <div class="input">
      <textarea id="recomendations" class="input__input" type="text" required=""></textarea>
      <label class="input__label">Напишите здесь</label>
  </div>
  <div class="csat__buttons">
    <button type="button" id="take-survey" class="btn btn_important">Далее</button>
    <span class="csat__skip" id="skip">Пропустить вопрос</span>
  </div>
</div>