<form class="auth">
  <span class="auth__header">вход</span>
  <div class="input-header-goes-up">
    <input id="mail" class="input-header-goes-up__input" type="text" required="" />
    <label class="input-header-goes-up__label">E-mail</label>
  </div>
  <div class="input-header-goes-up">
    <input id="password" class="input-header-goes-up__input" type="password" required="" />
    <label class="input-header-goes-up__label">Пароль</label>
  </div>
  <div class="error-label">1</div>
  <div class="auth__subtitle">
    Нет аккаунта?
    <a href="/signup">Зарегестрируйтесь</a>
  </div>
  <button type="submit" class="auth__sign-btn btn">войти</button>
</form>
