<form class="auth">
  <span class="auth__header">вход</span>
  <div class="input">
    <input id="mail" class="input__input" type="text" required="" />
    <label class="input__label">E-mail</label>
  </div>
  <div class="input">
    <input id="password" class="input__input" type="password" required="" />
    <label class="input__label">Пароль</label>
  </div>
  <div class="error-label">1</div>
  <div class="auth__subtitle">
    Нет аккаунта?
    <a href="/signup" class="link link_blue">Зарегистрируйтесь</a>
  </div>
  <button type="submit" class="btn btn_important">войти</button>
</form>
