@import "/public/lib/constants";

.auth {
  width: max(20%, 300px);
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #303656e3;
  border-radius: 4px;
  padding: 20px;

  @media (max-width: $phone-max-width) {
    margin: 80px auto;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--auth-text-color);
    margin-bottom: 50px;

    @media (max-width: $phone-max-width) {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--link-text-color);
  }

  &__header {
    color: var(--auth-text-color);
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 45px;
    margin-top: 10px;
    display: block;
    text-align: center;
    @media (max-width: $phone-max-width) {
      font-size: 20px;
    }
  }

  &__social-media{
    color: white;
    font-size: calc(0.355vw + 12.67px);
    background-color: #5a5a75;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
  }

  &__vk-img{
    width: 20px;
    margin: 7px;
  }
}

.lending {
  padding: 1%;

  @media (max-width: $phone-max-width) {
    display: none;
  }

  & p {
    color: var(--main-text-color);
    font-family: "Montserrat";
    font-size: calc(0.8rem + 6.4px);
    line-height: 24px;
    text-align: justify;
  }

  &__about {
    color: var(--main-text-color);
    font-family: "Montserrat";
    font-size: calc(0.7rem + 6.4px);
    font-weight: bold;
  }

  &__description {
    display: flex;
    column-gap: 5%;
  }

  &__introduction {
    width: 50%;
  }

  &__points {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10%;
  }

  &__list li {
    display: table-row;
    &::before {
      display: table-cell;
      content: "+";
      font-weight: bold;
      color: var(--main-text-color);
      padding-right: 12px;
    }
  }

  &__heart-holder {
    height: 5%;
    width: 5%;
  }

  &__heart-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.naming {
  position: absolute;
  color: #303656;
  font-size: calc(1.5vw + 6px);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(8px);
  padding: 1%;
  border-radius: 10px;
  width: 60%;
  top: 300px;
  left: 18%;
  text-align: center;

  @media (max-width: $phone-max-width) {
    top: 100px;
  }

  &_in-bottom{
    width: 35%;
    top: 350px;
    left: 55%;

    @media (max-width: 810px) {
      width: 90%;
      position: static;
    }
  }

  &_small {
    font-size: calc(1.2vw + 4px);
  }

  &__buttons{
    display: flex;
    font-size: calc(1.2vw + 4px);
    gap: 5%;
    justify-content: center;
    padding: 10px 0;
    @media (max-width: $phone-max-width) {
      font-size: calc(1.2vw + 4px);
    }
  }

  &__auth-btn{
    width: 270px;
  }
}

.background-holder {
  background-image: url("../../../static/pics/pair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  padding: 5%;
  margin: 1% 5%;
  min-height: 100vh;

  @media (max-width: $phone-max-width) {
    padding: 0px;
    height: min-content;
    min-height: 80vh;
  }

  &_disappear{
    background-image: url("../../../static/pics/lending.jpg");
    @media (max-width: $phone-max-width) {
      background-image: none;
    }
  }
}

.different-acquaintance{

  &__name{
    font-size: calc(1.6vw + 10px);
    text-align: center;
    color: var(--dark-blue-color);
    margin: 2%;
  }

  &__examples{
    margin: 2% 5%;
    display: flex;
    gap: 4%;
  }

  &__example{
    width: 30%;
  }

  &__example-name{
    margin: 10px 0;
    text-align: center;
    color: var(--dark-blue-color);
    font-size: calc(1.5vw + 6px);
  }

  &__example-img{
    width: 100%;
    border-radius: 25px;
  }

  &__text{
    font-size: calc(1.2vw + 4px);
    margin: 10px;
    text-align: center;
    color: var(--dark-blue-color);
  }
}
