<form class="auth">
  <span class="text-center">вход</span>
  <div class="input-container">
    <input id="mail" type="text" required="" />
    <label>E-mail</label>
  </div>
  <div class="input-container">
    <input id="password" type="password" required="" />
    <label>Пароль</label>
  </div>
  <div class="error-label">1</div>
  <div class="auth-subtitle">
    Нет аккаунта?
    <a href="/signup">Зарегестрируйтесь</a>
  </div>
  <button type="submit" class="sign-btn">войти</button>
</form>