<div class="background-holder">
  <div class="naming">Встречай новых людей, создавай новые истории! 
    
    <div class="naming_small">
      Если вы уже зарегистрированы в Umlaut просто войдите в свой аккаунт
    </div>
    <div class="naming__buttons">
      <a href="/signup" class="link"><div class="btn link link_black">Зарегистрироваться</div></a>
      <div class="btn btn_important naming__auth-btn" id="auth-btn">Войти</div>
    </div>
  </div>
</div>
<div class="different-acquaintance">
  <div class="different-acquaintance__name">
    Umlaut про разные знакомства
  </div> 
  <div class="different-acquaintance__examples">
    <div class="different-acquaintance__example">
      <div class="different-acquaintance__example-name">
        Романтические
      </div>
      <img class="different-acquaintance__example-img" src="/pics/romantic.jpg">
      <div class="different-acquaintance__text">
        В Umlaut можно найти партнера для длительных и стабильных отношений
      </div>
    </div>
    <div class="different-acquaintance__example">
      <div class="different-acquaintance__example-name">
        Дружеские
      </div>
      <img class="different-acquaintance__example-img" src="/pics/new_friends.jpg">
      <div class="different-acquaintance__text">
        Длительными и стабильными могут быть и дружеские отношения. Их тоже можно найти здесь
      </div>
    </div>
    <div class="different-acquaintance__example">
      <div class="different-acquaintance__example-name">
        Быстрые
      </div>
      <img class="different-acquaintance__example-img" src="/pics/new_friends.jpg">
      <div class="different-acquaintance__text">
        Хотите весело провести время? Umlaut — простой способ найти новых знакомых для новых приключений
      </div>
    </div>
  </div>
</div>
<div class="background-holder background-holder_disappear">
  <form class="auth">
    <span class="auth__header">вход</span>
    <div class="input">
      <input id="mail" class="input__input" type="text" required="" />
      <label class="input__label">E-mail</label>
    </div>
    <div class="input">
      <input id="password" class="input__input" type="password" required="" />
      <img src="/pics/eye_closed.png" id="eye" class="input__show-password">
      <label class="input__label">Пароль</label>
    </div>
    <div class="error-label">1</div>
    <div class="auth__subtitle">
      Нет аккаунта?
      <a href="/signup" class="link link_blue">Зарегистрируйтесь</a>
    </div>
    <button type="submit" class="btn btn_important">войти</button>
  </form>
</div>
