<div class="center">
  <form class="auth">
    <span class="auth__header">вход</span>
    <div class="input">
      <input id="mail" class="input__input" type="text" required="" />
      <label class="input__label">E-mail</label>
    </div>
    <div class="input">
      <input id="password" class="input__input" type="password" required="" />
      <img src="/pics/eye_closed.png" id="eye" class="input__show-password">
      <label class="input__label">Пароль</label>
    </div>
    <div class="error-label">1</div>
    <button type="submit" class="btn btn_important">войти</button>
  </form>
</div>
