<form class="auth">
  <span class="text-center">вход</span>
  <div class="input-container">
    <input id="login" type="text" required="" />
    <label>Логин</label>
  </div>
  <div class="input-container">
    <input id="password" type="text" required="" />
    <label>Пароль</label>
  </div>
  <div class="auth-subtitle">
    Нет аккаунта?
    <a href="signup.html">Зарегестрируйтесь</a>
  </div>
  <button type="submit" class="sign-btn">войти</button>
</form>