.form-feed {
  padding: 20px;
  display: flex;

  &__buttons {
    display: flex;
    gap: 10%;
    flex-direction: row;
    margin-right: 5%;
    margin-top: 8px;
    justify-content: center;

  }

  &__button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform 0.7s ease-in-out;
    border-radius: 50%;
    background-color: green;
    height: 70px;
    width: 70px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }

    &-img {
      height: 100%;
      width: 100%;
      position: relative;
      top: 3px;
      scale: 1.2;
    }

    &-like {
      background-color: rgb(0, 114, 0);
    }

    &-dislike {
      background-color: #dd1428;
    }

    &:active:enabled {
      scale: 1.05;
    }

    &:disabled {
      filter: brightness(0.5);
    }
  }

  &__no-people{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-part {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: min-content min-content;
    padding: 15px;
    width: 70%;
    height: 40%;
    margin: 4%;
    min-height: 400px;
    position: relative;
  }

  &__text {
    margin: 7px;
    &_bold {
      font-weight: bold;
    }
  }

  &__user-name {
    font-size: 40px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
  }

  &__feed-photo {
    width: 100%;
    height: 400px;
    align-self: center;
    position: relative;
  }
  
  &__photo-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  &__about-user {
    display: flex;
    flex-direction: column;
  }

  &__search-btn{
    width: 60px;
    height: 60px;
    margin-left: auto;
    cursor: pointer;
  }

  &__complain {
    position: absolute;
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--dark-blue-color);
    right: 0;
    bottom: 0;
    padding: 2px;
    padding-right: 5px;
    cursor: pointer;
    &:hover {
      scale: 1.03;
    }
    &-symbol { 
      position: relative;
      bottom: 0.5px;
    }
  } 
}

.search{
  background: #f4f4f4;
  border: solid;
  border-radius: 12px;
  padding: 8px;
  height: min-content;
  position: absolute;
  top: 90px;
  right: 80px;
  visibility: hidden;

  &_visible{
    visibility: visible;
  }
  
  &__age{
    display: flex;
    width: 325px;
  }
}
