<div class="greetings">Подобрали кое-кого для вас:</div>
<div class="userForm">
    <div class="photo-part">
        <div class="photo">
            {{#if img_src}}
                <img src="{{{img_src}}}" alt=""/>
            {{/if}}
        </div>
        <div class="form-btn">
            <img src="pics/dislike.png" id="dislike">
            <img src="pics/like.png" id="like">
            <img src="pics/message.png" id="messages">
        </div>
    </div>
</div>