<div class="greetings">Подобрали кое-кого для вас:</div>
<div class="form-feed">
    <div class="userForm"></div>
    <div class="form-btn">
        <img src="/pics/dislike.png" id="dislike">
        <img src="/pics/like.png" id="like">
        <img src="/pics/message.png" id="messages">
    </div>
</div>