<div class="form-feed">
    <div class="form-feed__user-part"></div>
    <div class="form-feed__buttons">
        <img src="/pics/dislike.png" id="dislike">
        <img src="/pics/like.png" id="like">
    </div>
</div>