<div class="form-feed">
  <div class="form-feed__user-part">
    {{#if id}}
      {{> Description}}
      <div class="form-feed__buttons">
        <button type="button" id="dislike" class="form-feed__button">
          <img class="form-feed__buttons-img" src="/pics/dislike.png" />
        </button>
        <button type="button" id="like" class="form-feed__button">
          <img class="form-feed__buttons-img" src="/pics/like.png" />
        </button>
      </div>
    {{else}}
      <div class="loading">
        <svg class="loading__spinner" viewBox="0 0 50 50">
          <circle
            class="loading__path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    {{/if}}
  </div>
  {{!-- вот здесь поиск будет --}}
</div>