@import "/public/lib/constants";

.form-feed {
  padding: 20px;
  display: flex;
  margin-top: 5vh;
  justify-content: center;

  @media (max-width: $phone-max-width) {
    padding: 0;
    margin-top: 7vh;
    margin-bottom: 6vh;
  }

  &__buttons {
    display: flex;
    gap: 10%;
    flex-direction: row;
    margin-top: 8px;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    align-self: flex-end;
    margin-bottom: 5%;
    z-index: 2;
    height: min(70px);
  }

  &__button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
    box-shadow: $shadow;
    aspect-ratio: 1 / 1;
    @supports not (aspect-ratio: 1 / 1) {
      &::before {
        float: left;
        padding-top: 100%;
        content: "";
      }
  
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.01) translateY(-1px);
    }

    &-img {
      height: 100%;
      width: 100%;
      position: relative;
      &-like{
        stroke: #ff5182;
        scale: 0.9;
        position: relative;
        top:2px;
      }
      &-dislike{
        scale: 1.2;
        stroke: #4a58a2;
      }
    }

    &:active:enabled {
      scale: 1.05;
    }

    &:disabled {
      filter: brightness(0.5);
    }
  }

  &__no-people {
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    font-size: 26px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    width: min(50vw, 650px);
    padding: 20px;
    display: flex;
    @media (max-width: $phone-max-width) {
      width: 90vw;
      font-size: 18px;
      padding: 10px;
    }
  }

  &__user-part {
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    display: grid;
    width: min(90vw, 900px);
    grid-template-columns: min(max(280px, 31vw), 450px) minmax(0, 1fr);
    grid-template-rows: min(max(450px, 60vh), 600px);
    overflow: hidden;
    column-gap: 2vw;
    position: relative;
    border-radius: 30px;
    //phone
    @media (max-width: $phone-max-width) {
      grid-template-rows: 75vh min-content;
      grid-template-columns: 90vw;
      row-gap: 20px;
    }
  }

  &__text {
    margin: 7px;
    overflow: hidden;
    word-wrap: break-word;
    &_bold {
      font-weight: bold;
    }
  }

  &__user-name {
    font-size: 40px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
  }

  &__feed-photo {
    width: 100%;
    height: 100%;
    align-self: center;
    position: relative;
  }

  &__photo-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 1;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    overflow: auto;
    @media (min-width: $phone-max-width) {
      padding-right: 10px;
    }

    &__no-overflow{
      overflow: unset;
    }
  }

  &__about-user {
    display: flex;
    flex-direction: column;
  }

  &__search {
    user-select: none;
    height: min(6vh, 60px);
    cursor: pointer;
    position: absolute;
    right: 1vw;
    top: 10px;
    z-index: 5;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
  }

  &__search-btn {
    height: min(6vh, 60px);
  }

  &__search-text{
    color: var(--dark-blue-color);
    font-size: 22px;
    @media (max-width: $phone-max-width) {
      display: none;
    }
  }

  &__complain {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--dark-blue-color);
    right: 0;
    bottom: 0;
    padding: 2px;
    padding-right: 20px;
    cursor: pointer;
    background-color: white;
    &:hover {
      scale: 1.03;
    }
    &-symbol {
      position: relative;
      bottom: 0.5px;
    }
  }

  &__left-swipes{
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--dark-blue-color);
    left: 50%;
    bottom: 0;
    padding: 2px;
    padding-right: 20px;
    background-color: white;

    @media (max-width: $phone-max-width) {
      left: 4%;
    }
  }
}

.search {
  background: #f4f4f4;
  border: solid;
  border-radius: 12px;
  padding: 8px;
  height: min-content;
  position: absolute;
  top: 90px;
  right: 80px;
  visibility: hidden;
  z-index: 10;
  box-sizing: border-box;
  max-width: 461px;

  @media (max-width: $phone-max-width) {
    right:auto;
    top: 30vh;
    margin: 0px 3%;
  }

  &_visible {
    visibility: visible;
  }

  &__age {
    display: flex;
    width: min(85vw, 325px);
    gap: 10px;
  }
}

.input{
  &_complain{
    margin-top: 10px;
  }

  &__input{
    &_complain{
      color: var(--dark-blue-color);
    }
  }

  &__label{
    &_complain{
      color: var(--dark-blue-color);
    }
  }
}