<div class="popup__question">
    {{text}}
</div>
<div class="popup__buttons">
    <button id="yes" class="btn popup__btn">Да</button>
    <button id="no" class="btn btn_important popup__btn">Нет</button>
</div>
