
<a class="popup__message link" href="/messages/{{dialog.id}}">

    <img class="popup__photo popup__message-photo" src={{dialog.photo}}>
<div class="popup__text popup__text-mes">
    Новое сообщение от {{dialog.companion}}
    </div>
</a>


