@import "/public/lib/constants";
.popup {
  z-index: 10;
  position: absolute;

  &__notify {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 80%;
    left: 80%;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: #000000;
    padding: 10px;
    @media (max-width: $phone-max-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 10%;
    left: 1%;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: #000000;
    padding: 10px;
    @media (max-width: $phone-max-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__btn {
    width: 36%;
  }

  &__question {
    margin: 10%;
    margin-top: 0;
  }

  &__confirm {
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    background-color: #f1eaea;
    width: min(380px, 85vw);
    height: min-content;
    align-content: center;
    justify-content: center;
    padding: 35px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  &__choose {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #f1eaea;
    width: min(380px, 85vw);
    height: fit-content;
    align-content: center;
    justify-content: center;
    padding: 35px;
    flex-direction: column;
    border: var(--dark-blue-color) 2px solid;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__submit {
    margin-top: 10px;
  }

  &__variants {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__variant {
    background-color: #f2c7c7;
    width: 100%;
    padding: 4px;
    border: var(--dark-blue-color) 2px solid;
    border-color: var(--dark-blue-color);
    border: 2px solid;
    border-radius: 4px;
    box-sizing: border-box;

    color: var(--dark-blue-color);
    cursor: pointer;
    &:hover {
      scale: 1.02;
      filter: brightness(1.02);
    }

    &-selected {
      scale: 1.02;
      filter: brightness(1.02);
    }
  }

  &__buttons {
    display: flex;
    gap: 17%;
    justify-content: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: rgb(255, 255, 255);

    &_big{
      font-size: 40px;
      font-weight: 1000;
    }
  }

  &__match{
    min-height: 100vh;
    background-color: #ff75b5de;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &__match-text{
    font-size: 26px;
    color: white;
    margin: 20px;
  }

  &__match-buttons{
    margin: 10px;
  }

  &__dialog-link{
    background-color: #ff0078;
    padding: 8px;
    border-radius: 15px;
  }

  &__or{
    margin: 0 13px;
  }

  &__feed-link{
    background-color: #e662a0;
    padding: 8px;
    border-radius: 15px;
  }
}
