.popup {

  &__notify{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 82%;
    left: 82%;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: #ffffff;
  }

  &__btn{
    width: 36%;
  }

  &__question{
    margin: 10%;
  }

  &__confirm{
    position: fixed;
    top: 30%;
    left: 37%;
    display: flex;
    background-color: #f1eaea;
    width: 26%;
    height: 140px;
    align-content: center;
    justify-content: center;
    padding: 35px;
    flex-direction: column;
  }

  &__buttons{
    display: flex;
    gap: 17%;
    justify-content: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
  }
}
