@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body {
    font-family: 'Helvetica', sans-serif;
    min-height:100%;
    font-family: Helvetica;
    background-color: var(--background-color);
    background-image: url("/pics/background.jpg");
}

/* Определение глобальных переменных для цветов */
:root {
    --auth-text-color: #ffffff;
    --link-text-color: #006adc;
    --input-focus-color: #EB2344;
    --lending-text-color: #685206;
    --background-color: #E9CDCC;
    --dark-blue-color: #303656;
    --dialog-grey: #76798B;
}

.btn {
    outline: none;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}


/* === AUTH === */

.auth {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:var(--dark-blue-color);
    border-radius: 4px;
    padding: 70px 100px;
}
.auth-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--auth-text-color);
    margin-top: 12px;
}
.auth-subtitle a {
    text-decoration: none;
    color: var(--link-text-color);
}
.text-center {
    color: var(--auth-text-color);
    text-transform: uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.input-container {
    position: relative;
    margin-bottom: 25px;
}
.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: var(--auth-text-color);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: var(--auth-text-color);
}
.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--input-focus-color);
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;

}
.sign-btn{
    color: var(--auth-text-color);
    background-color: var(--input-focus-color);
    margin-top: 50px;
}
.error-label{
    font-size: 0.8rem;
    color: var(--input-focus-color);
}


/* === FEED === */

#root {
    height: 95vh;
    display: grid;
    grid-template-areas:
        "header " 
        "content";
    grid-template-rows: 60px 85%;
    font: 1.2rem "Helvetica", sans-serif;
}

a.link:active,
a.link:hover,
a.link {
  text-decoration: none;
  color: white;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue-color);
}

.profile, .main-page{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.avatar img {
    width: 50px;
    object-fit: cover;
    height: 50px;
}

.photo-avatar{
    border-radius: 50%;
}

.avatar {
    display: flex;
    align-items: center;
}

.umlaut, .logout-header{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: #ffffff;
}

.logo img{
    max-height: 50px;
    border-radius: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.form-btn{
    display: flex;
    gap: 3%;
    padding-left: 8.5%;
    flex-direction: column;
    justify-content: center;
}

.form-btn img{
    width: auto;
    max-height: 170px;
}

 .sidebar{
    grid-area: menu;
    display: grid;
    align-content: flex-start;
    padding: 15px;
 }

 .sidebar a{
    margin: 5%;
 }

.main-part{
    grid-area: content;
    padding: 2%;
}

.form-feed{
    padding: 20px;
    margin: 3%;
    display: flex;
}

.userForm{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    padding: 15px;
    width: 1000px;
}

.logout-header, .umlaut, .user-name{
    font-size: 40px;
    display: flex;
    justify-content: right;
}

.set-name{
    border-bottom: solid;
}

.bold{
    font-weight: bold;
}

.photo .main-photo{
    height:100%;
    width: 100%;
    object-fit: contain;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    position: relative;
}

.photo .background-photo{
    height:100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    filter: blur(8px);
    position: absolute;
}

.photo{
    width: 100%;
    height: 400px;
    align-self: center;
    overflow: hidden;
    position: relative;
}

.photo-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
}

.description{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.about-user{
    display: flex;
    flex-direction: column;
}

.me, .goal, .education, .tags, .interests{
    margin: 7px;
}

.like-btn{
    height: 100%;
    width: auto;
}

.dislike-btn{
    height: 100%;
    width: auto;
}

.message-btn{
    height: 100%;
}

/* === LENDING === */

.profile-page{
    background-color: var(--background-color);
}

html {
    height: 100%;
}

header, .anauthorised-header{
    display: flex;
    background-color: black;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    box-shadow: 0 5px 10px black;
    border-radius: 0 0 2px 2px;
}

.anauthorised-header{
    grid-area: header;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu a {
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
}

.menu div {
    margin-right: 1%;
}

.menu .login {
    margin-inline-start: auto;
}

.menu .logo {
    height: 60px;
    width: 60px;
    margin-right: 1%;
}

.menu .logo > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.background-holder {
    width: 100%;
    height: 250px;
}

.background-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lending {
    padding: 1%;
}

.lending p {
    color: var(--lending-text-color);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

.lending h1 {
    color: var(--lending-text-color);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.description-lending {
    display: flex;
    column-gap: 5%;
    flex-direction: column;
}

.introduction {
    width: 50%;
}

.points {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10%;
}

.list li {
    display: table-row;
}

.list li::before {
    display: table-cell;
    content: "+";
    font-weight: bold;
    color: var(--lending-text-color);
    padding-right: 12px;
}

.heart-holder {
    height: 5%;
    width: 5%;
}

.heart-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* === PROFILE === */

#birthday{
  border: none;
  height: 20px;
}

.logout img{
    max-width: 50px;
    max-height: 50px;
 }

 .logout{
    display: flex;
    justify-content: flex-end;
 }

textarea{
    background-color: transparent;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    height: 50px;
    margin: -1%;
    width: 95%;
    resize: none;
}

.settingsForm{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 100%;
    padding: 15px;
    width: 1400px;
}

.description-settings{
    border: solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    backdrop-filter: blur(7px);
    padding: 2%;
}

.Selector {
    width: 96%;
    box-shadow: none;
    margin: 5px;
    border: none;
    position: relative;
    background: transparent;
}

.input {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12px;
    margin: 10px;
}

.name-input {
    position: relative;
    bottom: 7px;
    background: var(--background-color);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
    border-radius: 10px;
}

.save-btn{
    background-color: #ffffff;
}

.delete-btn{
    background-color:var(--input-focus-color);
    width: 40%;
}

.add-btn{
    background-color:#ffffff;
    width: 45%;
}

.buttons-settings{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.description-settings #age, .description-settings #name{
    border: none;
    background-color: rgb(247, 216, 221);
    height: 54px;
}

#age{
    width: 150px;
}

/* === MESSENGER === */

#messenger {
    display: grid;
    height: 100%;
    grid-template-areas:
        "dialog-list dialog-window";

    grid-template-columns: 350px 1fr;
}

.dialogs{
    grid-area: "dialog-list";
    background-color: var(--dialog-grey);
}

#dialog-list{
    overflow: scroll;
}

#dialog-window{
    grid-area: "dialog-window";
    border: 1px solid var(--dark-blue-color);
}

.btn-dialog{
    background-color: var(--dialog-grey);
}

.dialog-preview{
    height: 100px;
    border: 1px solid var(--dark-blue-color);
}

.dialog-preview-photo{
    height: 85px;
    width: 85px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    padding: 8px;
}

.dialog-preview-photo > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.dialog-name{
    color: white;
}

.preview-message{
    font-size: 12px;
}


.dark-background{
    background-color: #0000003d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    display: flex;
    justify-content: center;
}

.popup img{
    height: 45%;
    width: 45%;
}