:root {
    --main-text-color: #685206;
}

html {
    height: 100%;
}

body {
    min-height:100%;
}

header {
    display: flex;
    background-color: black;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    box-shadow: 0 5px 10px black;
    border-radius: 0 0 2px 2px;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu a {
    font-size: 24px;
    font-family: "Helvetica Neue", sans-serif; 
    color: white;
    text-decoration: none;
}

.menu div {
    margin-right: 1%;
}

.login {
    margin-inline-start: auto;
}

.logo {
    height: 60px;
    width: 60px;
    margin-right: 1%;
}

.logo > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.background-holder {
    width: 100%;
    height: 250px;
}

.background-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lending {
    padding: 1%;
}

.lending p { 
    color: var(--main-text-color);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

.lending h1 {
    color: var(--main-text-color);
    font-family: "Helvetica Neue", sans-serif; 
    font-size: 30px;
    font-weight: bold;
}

.description {
    display: flex;
    column-gap: 5%;
}

.introduction {
    width: 50%;
}

.points {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10%;
}

.list li {
    display: table-row;
}

.list li::before {
    display: table-cell;
    content: "+";
    font-weight: bold;
    color: var(--main-text-color);
    padding-right: 12px;
}

.heart-holder {
    height: 5%;
    width: 5%;
}

.heart-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
