<div class="carousel">
    {{#if image_paths}}

    <div class="carousel__slider">
        {{#each image_paths}}
        <div class="carousel__slide">
            <img class="carousel__background-photo" src="{{this}}" alt=""/>
            <img class="carousel__main-photo" src="{{this}}" alt=""/>
        </div>
        {{/each}}
    </div>
    <div class="carousel__prev carousel__btn">
        <img src="/pics/arrow-left.png" class="arrow_icon">
    </div>
    <div class="carousel__next carousel__btn">
        <img src="/pics/arrow-right.png" class="arrow_icon">
    </div>
    {{else}}
    <div class="carousel__slider">
        <div class="carousel__slide">
            <img class="carousel__main-photo" src="/pics/avatar.png" alt=""/>
        </div>
    </div>
    {{/if}}


</div>