@import "/public/lib/constants";

.logout {
  display: flex;
  justify-content: flex-end;

  &__img {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    margin-right: 20px;
  }

  &:active {
    filter: brightness(1.5);
  }
}

.settings-form {
  display: flex;
  gap: 20px;
  padding: 20px;

  @media (max-width: $phone-max-width) {
    flex-direction: column;
  }

  &__photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $phone-max-width) {
      height: 450px;
    }
  }

  &__user-name {
    font-size: 40px;
    display: flex;
    justify-content: right;
  }

  &__photo-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__user-name {
    border-bottom: solid;
  }

  &__description-settings {
    border: solid;
    border-radius: 15px;
    backdrop-filter: blur(7px);
    padding: 10px;
    flex: 1;
  }

  &__about-user {
    display: flex;
    flex-direction: column;
  }

  &__buttons-photo-setting {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    gap: 10px;
  }

  &__age {
    width: 150px;
  }
}

.input-border {
  font-family: "Montserrat";
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: $phone-max-width) {
    font-size: 16px;
  }

  &__eye {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 30px;
    filter: invert(1);
    top: 166px;

    @media (max-width: $phone-max-width) {
      top: 166px;
    }
  }

  &__data-input {
    width: 96%;
    box-shadow: none;
    margin: 5px;
    border: none;
    position: relative;
    background: transparent;
    font-family: "Montserrat";

    &_text {
      background-color: transparent;
      font-family: "Montserrat";
      height: 50px;
      margin: -1%;
      resize: none;
    }

    &_date {
      height: 20px;
      font-family: "Montserrat";
    }
  }

  &__show-list {
    width: 5%;
    position: absolute;
    right: 6%;
  }

  &__header {
    position: relative;
    bottom: 7px;
    background: var(--background-color);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
    border-radius: 10px;

    &_white {
      background: #f4f4f4;
    }
  }
}

.multiselection {
  &__select-multiple {
    visibility: hidden;
    position: absolute;
    background-color: #e6dddd;
    height: 140px;
    z-index: 2;
    border-radius: 3px;
    padding: 10px;
    overflow: auto;

    &:hover {
      visibility: visible;
    }
  }

  &:hover .multiselection__select-multiple {
    visibility: visible;
  }

  &__selection {
    border: 0.43mm solid;
    border-radius: 9px;
    padding: 2px;
    background-color: #fff;
    margin: 2px 2px;
    display: inline-block;

    &_active {
      background-color: red;
    }

    &_variant {
      cursor: pointer;
    }
  }
}
