@import "/public/lib/constants";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--header-height);
  padding-right: 5px;
  padding-left: 5px;

  &__profile {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__link-to-main-page {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
  }

  &__photo {
    display: flex;
    align-items: center;
  }

  &__photo-img {
    width: 50px;
    object-fit: cover;
    height: 50px;
  }

  &__photo-avatar {
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
    height: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    max-height: 50px;
    border-radius: 100%;
  }

  &__name {
    font-size: 40px;
    display: flex;
    justify-content: right;
    color: #ffffff;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
}

.sidebar{
  font-family: "Montserrat";
  margin-top: var(--header-height);

  &__visible{
    display: block;

    @media (max-width: $phone-max-width) {
      width: 100%;
      position: absolute;
      z-index: 3;
      background-color: var(--background-color);
      height: 100%;
    }
  }

  &__header{
    display: flex;
    padding: 10px;
    font-size: 22px;
  }

  &__buy-premium{
    background-color: var(--premium-green);
    width: 92%;
    display: block;
    padding: 4%;
    font-size: 20px;
  }

  &__premium-img{
    height: 25px;
  }

  &__pairs-header{
    padding: 5px 0px;
  }

  &__pairs{
    overflow: auto;
    width: 250px;
    white-space: nowrap;
  }

  &__part{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
  }

  &__photo-avatar{
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    overflow: auto;
    margin: 0 5px;
    cursor: pointer;
  }

  &__dialog-preview{
    display: flex;
    padding: 10px 0px;
    cursor: pointer;
  }

  &__dialog{
    border-bottom: 1px solid #999;
  }

  &__content{
    padding: 10px;
  }
}
