
<div class="main-page">
    <a class="logo" href="/feed">
        <img src="/pics/Umlaut.jpg">
    </div>
    <div class="umlaut">
        <a href="/feed" class="link">Umlaut</a>
    </div>
</div>
<div class="profile">
    <div class="logout">
        <a href="/logout" class="link">Выйти</a>
    </div>
    <a class="avatar" href="/profile">
        {{#if img_src}}
            <img src="{{{img_src}}}" alt=""/>
        {{/if}}
    </a>
</div>
