<div class="main-page">
    <a class="logo" href="/feed">
        <img src="/pics/Umlaut.jpg">
    </a>
    <div class="umlaut">
        <a href="/feed" class="link">Umlaut</a>
    </div>
</div>
<div class="profile">
    <a class="avatar" href="/messages">
        {{#if message_photo}}
            <img src="{{{message_photo}}}" alt=""/>
        {{/if}}
    </a>
    <a class="avatar" href="/settings">
        {{#if user_photo}}
            <img src="{{{user_photo}}}" alt=""/>
        {{/if}}
    </a>
</div>
