{{#if id}}
<div class="header__profile">
    
</div>
{{/if}}
<div class="header__link-to-main-page">
    <a href="/feed" class="header__name link">Umlaut</a>
    <a class="header__logo" href="/feed">
        <img class="header__logo-img" src="/pics/Umlaut.jpg">
    </a>
</div>