.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue-color);
  min-height: var(--header-height);
  padding-right: 5px;
  padding-left: 5px;

  &__profile {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__link-to-main-page {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__photo {
    display: flex;
    align-items: center;
  }

  &__photo-img {
    width: 50px;
    object-fit: cover;
    height: 50px;
  }

  &__photo-avatar {
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
    height: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    max-height: 50px;
    border-radius: 100%;
  }

  &__name {
    font-size: 40px;
    display: flex;
    justify-content: right;
    color: #ffffff;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
}
