
<div class="main-page">
    <div class="logo">
        <img src="/pics/Umlaut.jpg">
    </div>
    <div class="umlaut">
        <a href="/index" class="link">Umlaut</a>
    </div>
</div>
<div class="profile">
    <div class="avatar">
        {{#if img_src}}
            <img src="{{{img_src}}}" alt=""/>
        {{/if}}
    </div>
</div>
