{{#if id}}
    <div class="sidebar__header">
        <a class="header__photo" href="/settings">
            {{#if image_paths}}
                <img src="{{{image_paths.[0]}}}" class="header__photo-avatar" alt=""/>
            {{else}}
                <img src="/pics/avatar.png" class="header__photo-avatar" alt=""/>
            {{/if}}
        </a>
        <a class="link link_black" href="/settings">
            {{#if name}}
                <span>{{name}}</span>
            {{/if}}
        </a>
    </div>
    {{#if premium}}
    {{else}}
        <a href="/premium" class="sidebar__buy-premium link">
            <img class="sidebar__premium-img" src="/pics/lightning.png">
            Получить премиум
        </a>
    {{/if}}
    <div class="sidebar__part">
        <span class="sidebar__pairs-header" id="showLiked">Вас лайкнули
            <img class="multiselection__arrow" src="/pics/down-arrow.png">
        </span>
        <div id="liked" class="sidebar__pairs sidebar__pairs_visible">Вас пока никто не лайкнул</div>
    </div>
    <div class="sidebar__part">
        <span class="sidebar__pairs-header" id="showPairs">Взаимные пары
            <img class="multiselection__arrow" src="/pics/down-arrow.png">
        </span>
        <div id="pairs" class="sidebar__pairs sidebar__pairs_visible">У вас пока нет взаимных пар</div>
    </div>
    <div class="sidebar__part">
        <span class="sidebar__pairs-header" id="showDialogs">Диалоги
            <img class="multiselection__arrow" src="/pics/down-arrow.png">
        </span>
        <div id="dialogs" class="sidebar__dialogs sidebar__dialogs_visible">У вас пока нет начатых диалогов</div>
    </div>
{{/if}}