<div class="menu">
    <a class="logo" href="/"><img src="/pics/Umlaut.jpg" alt="logo"></a>
    <div class="name"><a href="/">Umlaut</a></div>
    <div class="about"><a href="">О нас</a></div>
    <div class="login signin"><a href="/auth">Войти</a></div>
    <div class="signup"><a href="/Signup">Регистрация</a></div>
</div>
