<div class="anauthorised-header">
    <div class="menu">
        <div class="logo"><img src="/pics/Umlaut.jpg" alt="logo"></div>
        <div class="name"><a href="">Umlaut</a></div>
        <div class="about"><a href="">О нас</a></div>
        <div class="login signin"><a href="">Войти</a></div>
        <div class="signup"><a href="">Регистрация</a></div>
    </div>
</div>